<div id="<%= dom_id gift %>">
  <p>
    <strong>Name:</strong>
    <%= gift.name %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= gift.image_url %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= gift.url %>
  </p>

</div>
